@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.5;
}

body {
  color: #1e2022;
  font-family: "Nunito Sans", sans-serif;
  position: relative;
  min-height: 100vh;
  background-color: #f0f5f9;
}

body nav.hide {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.3rem;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

nav .container {
  width: 80%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

nav .container ul li {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .container ul li a {
  text-decoration: none;
  color: #f0f5f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin: 0 5px;
  position: relative;
}

nav .container ul li a::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #f0f5f9;
  height: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

nav .container ul li a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

nav .container ul li a .logo {
  width: 45px;
  height: 45px;
  fill: #f0f5f9;
  margin-right: 10px;
}

nav .container ul li .chosen::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

nav .container ul .active-nav {
  display: block !important;
}

nav .container ul .brand {
  margin-right: auto;
  text-transform: none;
}

nav .container ul .brand a {
  font-size: 30px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

nav .container ul .brand a::after {
  content: none;
}

nav .container ul .brand .logo {
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

nav .container ul .brand:hover a {
  color: #c9d6df;
}

nav .container ul .brand:hover .logo {
  fill: #c9d6df;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

nav .container .ham-icon {
  width: 50px;
  height: 40px;
  position: absolute;
  top: 12px;
  right: 12px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: 1px solid #f0f5f9;
}

nav .container .ham-icon div {
  width: 50%;
  background-color: #f0f5f9;
  height: 3px;
  position: relative;
}

nav .container .ham-icon div::before {
  content: "";
  position: absolute;
  right: 0;
  top: 8px;
  height: 3px;
  left: 0;
  background-color: #f0f5f9;
}

nav .container .ham-icon div::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 8px;
  height: 3px;
  left: 0;
  background-color: #f0f5f9;
}

@media screen and (max-width: 1200px) {
  nav .container {
    width: 80%;
  }
  nav .container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  nav .container ul li:not(.brand) {
    -ms-flex-item-align: end;
        align-self: flex-end;
    display: none;
  }
  nav .container .ham-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  nav .container {
    width: 100%;
  }
  nav .container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  nav .container ul li {
    display: none;
    width: 100%;
  }
  nav .container ul li.brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
  }
  nav .container .ham-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header {
  height: 100vh;
  min-height: 500px;
  position: relative;
  width: 100%;
}

header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#f0f5f9), color-stop(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, #f0f5f9, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

header .motivation {
  z-index: 10;
  position: absolute;
  top: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

header .motivation h1:nth-of-type(1) {
  margin-right: auto;
  margin-left: 25%;
}

header .motivation h1:nth-of-type(2) {
  margin-left: auto;
  margin-right: 18%;
}

header a {
  position: absolute;
  top: 75%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  padding: 12px 35px;
  background-color: rgba(31, 33, 35, 0.3);
  border: 3px solid #f0f5f9;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  z-index: 10;
  font-weight: 900;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  text-align: center;
}

header a:hover {
  background-color: rgba(31, 33, 35, 0.6);
  color: #f0f5f9;
  -webkit-transform: translateX(50%) scale(1.02);
          transform: translateX(50%) scale(1.02);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

section.about {
  height: 47vh;
  min-height: 300px;
  text-align: center;
  padding: 50px 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  section.about {
    padding: 50px 10%;
  }
}

section.about h2 {
  padding: 15px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 47vh;
  min-height: 350px;
  width: 80%;
  min-width: 750px;
  margin: 6vh auto;
}

@media screen and (max-width: 768px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    min-width: auto;
  }
}

section.coaching img {
  width: 50%;
  min-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

section.coaching .coach-text {
  width: 50%;
  text-align: justify;
  text-justify: auto;
}

section.coaching .coach-text::after {
  display: block;
  content: "";
  clear: both;
}

@media screen and (max-width: 768px) {
  section.coaching .coach-text {
    width: 100%;
    overflow: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

section.coaching .coach-text .shape {
  float: left;
  width: 15%;
  height: 100%;
}

section.coaching .coach-text .shape2 {
  float: right;
  width: 15%;
  height: 100%;
}

section.coaching .coach-text h2 {
  margin-bottom: 20px;
}

section.coaching .coach-text h2 span {
  text-transform: uppercase;
}

section.coaching img {
  -webkit-clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 15% 100%);
          clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 15% 100%);
}

section.coaching .coach-text .shape {
  shape-outside: polygon(0 0, 100% 100%, 0% 100%);
}

section.coaching .coach-text .shape2 {
  shape-outside: polygon(0 0, 100% 0%, 100% 100%);
}

@media screen and (max-width: 768px) {
  section.coaching img {
    width: 100%;
    height: 47vh;
    margin: 6vh 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-clip-path: none;
            clip-path: none;
  }
}

section.equipment img {
  width: 50%;
  min-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

section.equipment .coach-text {
  width: 50%;
  text-align: justify;
  text-justify: auto;
}

section.equipment .coach-text::after {
  display: block;
  content: "";
  clear: both;
}

@media screen and (max-width: 768px) {
  section.equipment .coach-text {
    width: 100%;
    overflow: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

section.equipment .coach-text .shape {
  float: left;
  width: 15%;
  height: 100%;
}

section.equipment .coach-text .shape2 {
  float: right;
  width: 15%;
  height: 100%;
}

section.equipment .coach-text h2 {
  margin-bottom: 20px;
}

section.equipment .coach-text h2 span {
  text-transform: uppercase;
}

section.equipment img {
  -webkit-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}

section.equipment .coach-text .shape {
  shape-outside: polygon(0 0, 0% 100%, 100% 0);
}

section.equipment .coach-text .shape2 {
  shape-outside: polygon(100% 0, 100% 100%, 0% 100%);
}

@media screen and (max-width: 768px) {
  section.equipment img {
    width: 100%;
    height: 47vh;
    margin: 6vh 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-clip-path: none;
            clip-path: none;
  }
}

section.place img {
  width: 50%;
  min-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

section.place .coach-text {
  width: 50%;
  text-align: justify;
  text-justify: auto;
}

section.place .coach-text::after {
  display: block;
  content: "";
  clear: both;
}

@media screen and (max-width: 768px) {
  section.place .coach-text {
    width: 100%;
    overflow: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

section.place .coach-text .shape {
  float: left;
  width: 15%;
  height: 100%;
}

section.place .coach-text .shape2 {
  float: right;
  width: 15%;
  height: 100%;
}

section.place .coach-text h2 {
  margin-bottom: 20px;
}

section.place .coach-text h2 span {
  text-transform: uppercase;
}

section.place img {
  -webkit-clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 15% 100%);
          clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 15% 100%);
}

section.place .coach-text .shape {
  shape-outside: polygon(0 0, 100% 100%, 0% 100%);
}

section.place .coach-text .shape2 {
  shape-outside: polygon(0 0, 100% 0%, 100% 100%);
}

@media screen and (max-width: 768px) {
  section.place img {
    width: 100%;
    height: 47vh;
    margin: 6vh 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-clip-path: none;
            clip-path: none;
  }
}

section.sauna img {
  width: 50%;
  min-height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

section.sauna .coach-text {
  width: 50%;
  text-align: justify;
  text-justify: auto;
}

section.sauna .coach-text::after {
  display: block;
  content: "";
  clear: both;
}

@media screen and (max-width: 768px) {
  section.sauna .coach-text {
    width: 100%;
    overflow: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

section.sauna .coach-text .shape {
  float: left;
  width: 15%;
  height: 100%;
}

section.sauna .coach-text .shape2 {
  float: right;
  width: 15%;
  height: 100%;
}

section.sauna .coach-text h2 {
  margin-bottom: 20px;
}

section.sauna .coach-text h2 span {
  text-transform: uppercase;
}

section.sauna img {
  -webkit-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}

section.sauna .coach-text .shape {
  shape-outside: polygon(0 0, 0% 100%, 100% 0);
}

section.sauna .coach-text .shape2 {
  shape-outside: polygon(100% 0, 100% 100%, 0% 100%);
}

@media screen and (max-width: 768px) {
  section.sauna img {
    width: 100%;
    height: 47vh;
    margin: 6vh 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-clip-path: none;
            clip-path: none;
  }
}

.subscriptions {
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  min-height: 700px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 6vh;
}

.subscriptions h2 {
  padding: 30px;
  text-transform: uppercase;
}

.subscriptions .cards {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscriptions .cards .system {
  width: 23%;
  height: 85%;
  min-height: 550px;
  background-color: #52616b;
}

@media screen and (max-width: 768px) {
  .subscriptions {
    height: auto;
    min-height: auto;
  }
  .subscriptions .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .subscriptions .cards .system {
    width: 100%;
    min-height: 300px;
    margin: 20px auto;
  }
}

.contact {
  height: 80vh;
  min-height: 550px;
  border-bottom: 1px solid #52616b;
  background-color: rgba(0, 0, 0, 0.692);
  position: relative;
}

.contact::after {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: url("../Imgs/8.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  opacity: 0.7;
  z-index: -1;
}

.contact h2 {
  text-align: center;
  padding: 35px;
  text-transform: uppercase;
  color: #f0f5f9;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.contact .flexy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 60vh;
}

.contact .flexy .container {
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 35%;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .contact .flexy .container {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .contact .flexy .container {
    width: 70%;
  }
}

.contact .flexy .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact .flexy .container form label {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #f0f5f9;
  font-size: 1.2rem;
}

.contact .flexy .container form input {
  width: 100%;
  padding: 10px 10px;
  outline-style: none;
  background-color: #f0f5f9;
  border: none;
  font-size: 1.1rem;
}

.contact .flexy .container form textarea {
  width: 100%;
  padding: 10px 10px;
  outline-style: none;
  min-height: 200px;
  background-color: #f0f5f9;
  font-size: 1.2rem;
}

.contact .flexy .container form button {
  padding: 7px 40px;
  font-size: 1.5rem;
  margin: 40px 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: rgba(31, 33, 35, 0.3);
  border: 2px solid #f0f5f9;
  color: white;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  text-align: center;
  cursor: pointer;
}

.contact .flexy .container form button:hover {
  background-color: rgba(31, 33, 35, 0.6);
  color: #f0f5f9;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

footer {
  height: 20vh;
  min-height: 150px;
  background-color: #1e2022;
  color: #52616b;
  padding: 10px 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

@media screen and (max-width: 768px) {
  footer {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .half1 {
    width: 100%;
  }
  footer .half2 {
    width: 100%;
  }
}

footer p {
  font-size: 1rem;
}

footer .half1 {
  width: 50%;
}

footer .half1 .newsletter {
  display: block;
  color: #52616b;
  margin-top: 8px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

footer .half1 .newsletter:hover {
  color: #f0f5f9;
}

footer .half2 {
  width: 50%;
}

footer .half2 a {
  color: #52616b;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

footer .half2 a i {
  margin: 0 4px;
}

footer .half2 a:hover {
  color: #f0f5f9;
}

footer .half2 .follow {
  color: #f0f5f9;
  font-size: 1.1rem;
  margin: 3px auto;
}

footer .copyrights {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */