@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  line-height: 1.5;
}

body {
  color: #1e2022;
  font-family: "Nunito Sans", sans-serif;
  position: relative;
  min-height: 100vh;
  background-color: #f0f5f9;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.3rem;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li a {
  text-decoration: none;
  color: #f0f5f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin: 0 5px;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #f0f5f9;
  height: 2px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

nav ul li a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

nav ul li a .logo {
  width: 45px;
  height: 45px;
  fill: #f0f5f9;
  margin-right: 10px;
}

nav ul li .active::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

nav ul .brand {
  margin-right: auto;
}

nav ul .brand a {
  font-size: 30px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

nav ul .brand a::after {
  content: none;
}

nav ul .brand .logo {
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

nav ul .brand:hover a {
  color: #c9d6df;
}

nav ul .brand:hover .logo {
  fill: #c9d6df;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

header {
  height: 100vh;
  position: relative;
}

header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#f0f5f9), color-stop(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, #f0f5f9, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

header .motivation {
  z-index: 10;
  position: absolute;
  top: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

header .motivation h1:nth-of-type(1) {
  margin-right: auto;
  margin-left: 25%;
}

header .motivation h1:nth-of-type(2) {
  margin-left: auto;
  margin-right: 18%;
}

header a {
  position: absolute;
  top: 75%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  padding: 12px 35px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 3px solid #f0f5f9;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  z-index: 10;
  font-weight: 900;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  border-radius: 50px;
  text-align: center;
}

header a:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #f0f5f9;
  -webkit-transform: translateX(50%) scale(1.02);
          transform: translateX(50%) scale(1.02);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

section.about {
  max-height: 100vh;
  min-height: 47vh;
  text-align: center;
  padding: 50px 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 768px) {
  section.about {
    padding: 50px 10%;
  }
}

section.about h2 {
  padding: 15px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 47vh;
  width: 80%;
  min-width: 750px;
  margin: 6vh auto;
}

@media screen and (max-width: 768px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    min-width: auto;
  }
}

section.coaching img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (max-width: 768px) {
  section.coaching img {
    width: 100%;
    height: 47vh;
    margin: 6vh 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-clip-path: none !important;
            clip-path: none !important;
  }
}

section.coaching .coach-text {
  width: 50%;
  text-align: justify;
  text-justify: auto;
  overflow: hidden;
}

section.coaching .coach-text::after {
  display: block;
  content: "";
  clear: both;
}

@media screen and (max-width: 768px) {
  section.coaching .coach-text {
    width: 100%;
    overflow: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

section.coaching .coach-text .shape {
  float: left;
  width: 15%;
  height: 100%;
}

section.coaching .coach-text .shape2 {
  float: right;
  width: 15%;
  height: 100%;
}

section.coaching .coach-text h2 {
  margin-bottom: 20px;
}

section.coaching .coach-text h2 span {
  text-transform: uppercase;
}

section.coaching img {
  -webkit-clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 15% 100%);
          clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 15% 100%);
}

section.coaching .coach-text .shape {
  shape-outside: polygon(0 0, 100% 100%, 0% 100%);
}

section.coaching .coach-text .shape2 {
  shape-outside: polygon(0 0, 100% 0%, 100% 100%);
}

section.equipment img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (max-width: 768px) {
  section.equipment img {
    width: 100%;
    height: 47vh;
    margin: 6vh 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-clip-path: none !important;
            clip-path: none !important;
  }
}

section.equipment .coach-text {
  width: 50%;
  text-align: justify;
  text-justify: auto;
  overflow: hidden;
}

section.equipment .coach-text::after {
  display: block;
  content: "";
  clear: both;
}

@media screen and (max-width: 768px) {
  section.equipment .coach-text {
    width: 100%;
    overflow: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

section.equipment .coach-text .shape {
  float: left;
  width: 15%;
  height: 100%;
}

section.equipment .coach-text .shape2 {
  float: right;
  width: 15%;
  height: 100%;
}

section.equipment .coach-text h2 {
  margin-bottom: 20px;
}

section.equipment .coach-text h2 span {
  text-transform: uppercase;
}

section.equipment img {
  -webkit-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}

section.equipment .coach-text .shape {
  shape-outside: polygon(0 0, 0% 100%, 100% 0);
}

section.equipment .coach-text .shape2 {
  shape-outside: polygon(100% 0, 100% 100%, 0% 100%);
}

section.place img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (max-width: 768px) {
  section.place img {
    width: 100%;
    height: 47vh;
    margin: 6vh 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-clip-path: none !important;
            clip-path: none !important;
  }
}

section.place .coach-text {
  width: 50%;
  text-align: justify;
  text-justify: auto;
  overflow: hidden;
}

section.place .coach-text::after {
  display: block;
  content: "";
  clear: both;
}

@media screen and (max-width: 768px) {
  section.place .coach-text {
    width: 100%;
    overflow: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

section.place .coach-text .shape {
  float: left;
  width: 15%;
  height: 100%;
}

section.place .coach-text .shape2 {
  float: right;
  width: 15%;
  height: 100%;
}

section.place .coach-text h2 {
  margin-bottom: 20px;
}

section.place .coach-text h2 span {
  text-transform: uppercase;
}

section.place img {
  -webkit-clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 15% 100%);
          clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 15% 100%);
}

section.place .coach-text .shape {
  shape-outside: polygon(0 0, 100% 100%, 0% 100%);
}

section.place .coach-text .shape2 {
  shape-outside: polygon(0 0, 100% 0%, 100% 100%);
}

section.sauna img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  -webkit-transition: all 1s;
  transition: all 1s;
}

@media screen and (max-width: 768px) {
  section.sauna img {
    width: 100%;
    height: 47vh;
    margin: 6vh 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-clip-path: none !important;
            clip-path: none !important;
  }
}

section.sauna .coach-text {
  width: 50%;
  text-align: justify;
  text-justify: auto;
  overflow: hidden;
}

section.sauna .coach-text::after {
  display: block;
  content: "";
  clear: both;
}

@media screen and (max-width: 768px) {
  section.sauna .coach-text {
    width: 100%;
    overflow: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

section.sauna .coach-text .shape {
  float: left;
  width: 15%;
  height: 100%;
}

section.sauna .coach-text .shape2 {
  float: right;
  width: 15%;
  height: 100%;
}

section.sauna .coach-text h2 {
  margin-bottom: 20px;
}

section.sauna .coach-text h2 span {
  text-transform: uppercase;
}

section.sauna img {
  -webkit-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
          clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
}

section.sauna .coach-text .shape {
  shape-outside: polygon(0 0, 0% 100%, 100% 0);
}

section.sauna .coach-text .shape2 {
  shape-outside: polygon(100% 0, 100% 100%, 0% 100%);
}
/*# sourceMappingURL=style.css.map */